<mat-form-field>

    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div style="overflow:auto;">
    <div class="mat-elevation-z8">

        <mat-table [dataSource]="listData" matSort>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

            <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(row.EmployeeID)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="OrderID">
                <mat-header-cell *matHeaderCellDef>Order ID</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.id}}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="CustomerID">
                <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.customer.id}}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="CustomerFirstName">
                <mat-header-cell *matHeaderCellDef>Customer First Name</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.customer.firstName}}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="CustomerLastName">
                <mat-header-cell *matHeaderCellDef>Customer Last Name</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.customer.lastName}}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="CustomerEmail">
                <mat-header-cell *matHeaderCellDef>Customer Email</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.customer.email}}</mat-header-cell>
            </ng-container>


            <ng-container matColumnDef="Date">
                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.date_order_placed | date:'medium' }}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="Details">
                <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onDetails(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
        </mat-table>
    </div>
</div>

<button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Add Order</button>